.container {
    min-width: 700px;
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
}
.wrapper {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.textInput textarea {
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}
.textInput .to-text {
    border-radius: 0px;
    border-left: 1px solid #ccc;
}
.wrapper .textInput {
    display: flex;
    border-bottom: 1px solid #ccc;
}
.container button {
    width: 100%;
    padding: 14px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 5px;
    background: #ffc107;
}
.controls{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.controls select {
    color: #333;
    border: none;
    outline: none;
    font-size: 18px;
    background: none;
    padding-left: 5px;
}
